<div class="song-list">
  <h2>Disliked Songs List</h2>
  <div class="song-list-container">
    <div class="table-header">
      <table class="song-table">
        <thead>
        <tr>
          <th class="song-info-title">Title</th>
          <th class="song-info-time">Time</th>
          <th class="song-info-artist">Artist</th>
          <th class="song-info-album">Album</th>
          <th class="song-info-genre">Genre</th>
          <th class="song-actions">Actions</th>
        </tr>
        </thead>
      </table>
    </div>
    <div *ngIf="songInfoArray.length > 0">
      <div class="scrollable-table">
        <table class="song-table">
          <tbody>
          <ng-container *ngFor="let song of getSongInfoArray()">
            <tr class="song-item">
              <td class="song-info-title">{{ song.title }}</td>
              <td class="song-info-time">{{ song.time }}</td>
              <td class="song-info-artist">{{ song.artist }}</td>
              <td class="song-info-album">{{ song.album }}</td>
              <td class="song-info-genre">{{ song.genre }}</td>
              <td class="song-actions">
                <i class="fas fa-play-circle play-button" *ngIf="!isPlaying(song)" (click)="onPlayButtonClick(song)"></i>
                <i class="fas fa-stop-circle play-button" *ngIf="isPlaying(song)" (click)="onPlayButtonClick(song)"></i>
                <div class="heart-container">
                  <i class="fa-solid fa-heart add-to-liked-songs-button" (click)="onAddToLikedSongsButtonClick(song)"> </i>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentSong" class="now-playing">
  <div class="song-info">
    <img class="song-image" src="https://via.placeholder.com/60" alt="Album Art" />
    <div class="song-details">
      <p class="song-title">{{ currentSong.name }}</p>
      <p class="song-artist">{{ currentSong.artist }}</p>
    </div>
  </div>
  <div class="song-popup-actions">
    <i class="fas fa-play-circle play-button" *ngIf="!currentSong" (click)="onPlayButtonClick(currentlyPlayingIndex)"></i>
    <i class="fas fa-stop-circle play-button" *ngIf="currentSong" (click)="onPlayButtonClick(currentlyPlayingIndex)"></i>
  </div>
  <div class="progress-container">
    <progress class="playing-progress" [value]="progress" max="100"></progress>
  </div>
</div>
