body {
  font-family: Arial, sans-serif;
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #3a3f4b;
}
.song-list-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.table-header {
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.scrollable-table {
  max-height: 500px; /* Adjust the value */
  overflow-y: auto;
}
.song-table tbody tr:nth-child(even) {
  background-color: var(--like-song-color); /* Light gray close to white */
}

.song-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3f4b;
  padding: 15px 0;
}

.song-list-items {
  list-style: none;
  padding: 0;
}

.song-item {
  line-height: 1.5;
  padding: 0;
}

.song-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.song-info > div {
  margin-right: 16px;
}

.song-info-title {
  width: 20%;
  font-weight: bold;
  text-align: left;
  color: var(--text-color);
}

.song-info-time,
.song-info-artist,
.song-info-album,
.song-info-genre {
  width: 16%;
  text-align: left;
  color: var(--text-color);
}
.song-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

.song-table th,
.song-table td {
  text-align: left;
  padding: 15px 0;
}

.song-table th {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.song-actions {
  /*width: 12%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.play-button {
  color: var(--playbutton-color);
  font-size: 24px; // Increase the font size to make the icon bigger
  cursor: pointer;
  margin-left: 0px;
  margin-right: 25px;
}

.heart-container {
  display: inline-block;
  width: 20px; // Adjust this value according to the width of the heart icon
  text-align: center;
}
.add-to-liked-songs-button {
  color: var(--playbutton-color);
  font-size: 24px; // Increase the font size to make the icon bigger
  cursor: pointer;
  margin-right: 15px;
  margin-left: 10px;
}

.play-button:hover {
  color: var(--playbutton2-color);
}

.add-to-liked-songs-button:hover {
  color: var(--playbutton2-color);
}

.now-playing {
  position: fixed;
  bottom: 20px; /* Adjust this value to change the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blacktowhite-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
}

.song-image {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin-right: 10px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 0.9rem;
  color: #777;
}

.song-popup-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.progress-container {
  width: 50%;
}

.playing-progress {
  width: 100%;
}
.transparent {
  opacity: 0;
} //makes heart icon transparent after clicked
