<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dislikedSong">
      <h2 data-cy="dislikedSongDetailsHeading"><span jhiTranslate="teamprojectApp.dislikedSong.detail.title">Disliked Song</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="teamprojectApp.dislikedSong.id">Id</span></dt>
        <dd>
          <span>{{ dislikedSong.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.dislikedSong.chosen">Chosen</span></dt>
        <dd>
          <span>{{ dislikedSong.chosen }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/disliked-song', dislikedSong.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
