<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="likedSong">
      <h2 data-cy="likedSongDetailsHeading"><span jhiTranslate="teamprojectApp.likedSong.detail.title">Liked Song</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="teamprojectApp.likedSong.id">Id</span></dt>
        <dd>
          <span>{{ likedSong.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.likedSong.chosen">Chosen</span></dt>
        <dd>
          <span>{{ likedSong.chosen }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/liked-song', likedSong.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
