<!-- For Profile Purpose-->
<div class="pBox" id="avatar"></div>
<div class="sBox2" [ngSwitch]="account !== null">
  <div *ngSwitchCase="true">
    <label for="username">Username:</label>
    <span class="uPBox" id="username" *ngIf="account" jhiTranslate="profile.logged.message" [translateValues]="{ username: account.login }">
      :{{ account.login }}</span
    ><br /><br />
    <label for="email" jhiTranslate="profile.logged.e-message">Email:</label>
    <span class="uPBox" id="email" *ngIf="account" jhiTranslate="profile.logged.email" [translateValues]="{ email: account.email }">
      {{ account.login }}
    </span>
    <button class="eButton" type="button" routerLink="/account/settings">Edit</button>
  </div>
</div>

<!-- Navigation to Liked Song Page -->
<div class="vertical">
  <p class="fontDesign recentSongPos">Your Recent Album</p>
  <div class="hoverItem">
    <button class="lButton lButtonPos" aria-hidden="true" href="/liked-songs"></button>
  </div>
  <div class="pBox f1Pos" id="myAlbum1">
    <p id="Album1" class="al1"></p>
  </div>
  <div class="pBox f2Pos" id="myAlbum2">
    <p id="Album2" class="al2"></p>
  </div>
  <div class="pBox f3Pos" id="myAlbum3">
    <p id="Album3" class="al3"></p>
  </div>
  <p class="fontDesign tPos1">Top Song For You</p>
  <div class="pBox f4Pos" id="track2"></div>
  <div class="pBox f5Pos" id="track1"></div>
  <div class="pBox f6Pos" id="track3"></div>
  <p class="numb1" id="topTrack1"></p>
  <p class="numb2" id="topTrack2"></p>
  <p class="numb3" id="topTrack3"></p>
</div>

<!-- Second line For Navigation to Disliked Song Page-->
<div class="vertical2">
  <p class="fontDesign recentDisliked">Your Followed Artist</p>
  <div class="hoverItem">
    <button class="lButton lButtonPos" routerLink="/disliked-songs"></button>
  </div>
  <div class="pBox f1Pos" id="followedArtist1">
    <p id="followedArtistName1" class="al1"></p>
  </div>
  <div class="pBox f2Pos" id="followedArtist2">
    <p id="followedArtistName2" class="al2"></p>
  </div>
  <div class="pBox f3Pos" id="followedArtist3">
    <p id="followedArtistName3" class="al3"></p>
  </div>

  <!-- Artist Container-->
  <p class="fontDesign tPos2">Top Artist For You</p>
  <div class="pBox f4Pos" id="topImage3"></div>

  <div class="pBox f5Pos" id="topImage1"></div>

  <div class="pBox f6Pos" id="topImage2"></div>

  <p class="numb1" id="topArtist1"></p>
  <p class="number2" id="topArtist2"></p>
  <p class="numb3" id="topArtist3"></p>
</div>

<!-- Charts -->

<div class="horizontal">
  <div class="artistChart">
    <p class="aLetter">Favorite Artist</p>
    <canvas id="myChart1"></canvas>
  </div>

  <div class="songChart">
    <p class="sLetter">Favorite Song</p>
    <canvas id="myChart"></canvas>
  </div>
</div>
