<!DOCTYPE html>
<html>
  <div class="text-size-container" [ngClass]="selectedTextSize">
    <head>
      <meta charset="UTF-8" />
      <title>Setting</title>
      <link rel="stylesheet" href="settings.component.scss" />
    </head>
    <body>
      <div [ngClass]="{ 'high-contrast': highContrast }">
        <header>
          <h1 class="section-title readable-title">Settings</h1>
        </header>
        <main>
          <section>
            <h2 class="section-title readable-title">High Contrast Mode</h2>
            <button class="readable-title" (click)="toggleHighContrastMode(false)">Default</button>
            <button class="readable-title" (click)="toggleHighContrastMode(true)">High Contrast</button>
          </section>
          <section>
            <h2 class="section-title readable-title">Text Size</h2>
            <form>
              <div>
                <label>Select text size:</label>
                <div>
                  <input
                    [(ngModel)]="selectedTextSize"
                    (change)="setTextSize(selectedTextSize)"
                    type="radio"
                    value="small"
                    name="textSize"
                  />
                  <span class="readable-title">Small</span>
                  <input
                    [(ngModel)]="selectedTextSize"
                    (change)="setTextSize(selectedTextSize)"
                    type="radio"
                    value="medium"
                    name="textSize"
                  />
                  <span class="readable-title">Medium</span>
                  <input
                    [(ngModel)]="selectedTextSize"
                    (change)="setTextSize(selectedTextSize)"
                    type="radio"
                    value="large"
                    name="textSize"
                  />
                  <span class="readable-title">Large</span>
                  <input
                    [(ngModel)]="selectedTextSize"
                    (change)="setTextSize(selectedTextSize)"
                    type="radio"
                    value="extreme-large"
                    name="textSize"
                  />
                  <span class="readable-title">Extreme Large</span>
                </div>
              </div>
            </form>
          </section>
          <section>
            <h2 class="section-title readable-title">Audio Description</h2>
            <label class="switch">
              <input type="checkbox" #voiceOverCheckbox (change)="toggleVoiceOver(voiceOverCheckbox.checked)" />
              <span class="slider"></span>
            </label>
          </section>

          <section>
            <h2 class="section-title readable-title">Volume</h2>
            <div class="volume">
              <img src="sound.jpg" alt="sound icon" />
              <input type="range" min="0" max="100" value="50" />
            </div>
          </section>
          <section>
            <h2 class="section-title readable-title">Version</h2>
            <p class="readable-title">1.0</p>
          </section>
        </main>
      </div>
    </body>
  </div>
</html>
