<!DOCTYPE html>
<html>
  <div class="text-size-container" [ngClass]="selectedTextSize">
    <head>
      <meta charset="UTF-8" />
      <title>Setting</title>
      <link rel="stylesheet" href="settings.component.scss" />
    </head>
    <body>
      <div [ngClass]="{ 'high-contrast': highContrast }">
        <header>
          <h1 class="section-title">Settings</h1>
        </header>
        <main>
          <section>
            <h2 class="section-title">High Contrast Mode</h2>
            <button (click)="toggleHighContrastMode(false)">Default</button>
            <button (click)="toggleHighContrastMode(true)">High Contrast</button>
          </section>
          <section>
            <h2 class="section-title">Text Size</h2>
            <form>
              <div>
                <label>Select text size:</label>
                <div>
                  <input [(ngModel)]="selectedTextSize" type="radio" value="small" name="textSize" /> Small
                  <input [(ngModel)]="selectedTextSize" type="radio" value="medium" name="textSize" /> Medium
                  <input [(ngModel)]="selectedTextSize" type="radio" value="large" name="textSize" /> Large
                  <input [(ngModel)]="selectedTextSize" type="radio" value="extreme-large" name="textSize" /> Extreme Large
                </div>
              </div>
              <button (click)="setTextSize()">Set</button>
            </form>
          </section>
          <section>
            <h2 class="section-title">Audio Description</h2>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </section>
          <section>
            <h2 class="section-title">Volume</h2>
            <div class="volume">
              <img src="sound.jpg" alt="sound icon" />
              <input type="range" min="0" max="100" value="50" />
            </div>
          </section>
          <section>
            <h2 class="section-title">Version</h2>
            <p>1.0</p>
          </section>
        </main>
      </div>
    </body>
  </div>
</html>
