<header>GDPR Policy</header>
<br />
<p>
  This GDPR Policy will explain how we and MusicMatcher – our web application uses the personal data that we collect from the user, when the
  user uses our web application.<br />
</p>

<p>
  1. Topics:<br />
  - What data do we collect?<br />
  - How do we collect the user’s data?<br />
  - How do we use the data?<br />
  - How do we store the data?<br />
  - What are the data protection rights?<br />
  - How do we use cookies?<br />
  - What types of cookies do we use?<br />
  - How to manage the user’s cookies<br />
  - How to contact us<br />
</p>

<p>
  2. What data do we collect?<br />
  We collect the following personal data:<br />
  - Personal identification information<br />
  - User name<br />
  - Password (hidden)<br />
  - Spotify data<br />
  - Playlist names<br />
  - Playlist content<br />
  - Favourite artists<br />
  - Favourite songs<br />
  - Liked/Disliked song lists for each users<br />
</p>

<p>
  3. How do we collect the user’s data?<br />
  We collect data and process when the user:<br />
  - Log into the account using Spotify account and password.<br />
  - Click the like or dislike buttons on the main page.<br />
  - Use or visit our application via browser’s cookies.<br />
  - Make any change on the Liked/Disliked song pages.<br />
</p>

<p>
  4. How long will we store the user’s data?<br />
  - As long as the user account is active<br />
  - Until the user’s account is deleted<br />
</p>

<p>
  5. How will we use the data?<br />
  We collect the user’s data so that we can:<br />
  - Identify and manage the user’s account.<br />
  - Manage the user’s data on the database.<br />
  - Train the AI algorithm to improve application performances.<br />
  We guarantee that we only use the user’s data for the uses above.<br />
</p>

<p>
  6. How do we store the user’s data?<br />
  We securely store the user’s data on encrypted database, and for all the connections, TLS encryption is used.<br />
  We will keep the user’s encrypted data for two years since the last user access. Once this time period has expired, we will delete the
  user’s data by connecting to database using TLS encryption, to prevent man-in-the middle attacks.<br />
</p>

<p>
  7. What are the user’s data protection rights?<br />
  We would like to make sure that the user is fully aware of his/her data protection rights. Every user is entitled to the following:<br />
  - The right to access – The user has the right to request his/her personal data.<br />
  - The right to rectification – The user has the right to request that we correct any information that the user believes is not
  accurate.<br />
  - The right to erasure – The user has the right to request that we erase his/her personal data, if he/she is not comfortable.<br />
  - The right to restrict processing – The user has the right to request that we restrict the processing of his/her personal data, if he/she
  is not comfortable.<br />
  - The right to object to processing – The user has the right to object to our processing of his/her personal data, if he/she is not
  comfortable.<br />
</p>

<p>
  8. What are cookies?<br />
  Cookies are text files placed on computers to collect standard Internet log information and visitor behaviour information. When the user
  visits our web application, we may collect information from you automatically through cookies.<br />
</p>

<p>
  9. How do we use cookies?<br />
  We use cookies in a range of ways to improve the user’s experience on our web application, including:<br />
  - Keeping the user signed in<br />
  - Saving the personal settings<br />
  When sending cookies to the server/database, all the connection is encrypted with TLS and therefore cookies are secured.<br />
</p>

<p>
  10. What types of cookies do we use?<br />
  There are a number of different types of cookies. However, we use:<br />
  Authentication – We use these cookies to identify each user on MusicMatcher and remember the user’s log in information. This allows the
  server to create an encrypted authentication token.<br />
  Personalisation – We use these information to save the user’s preferred settings, such as display options, enable/disable high contrast
  mode etc.<br />
</p>

<p>
  11. How to manage cookies<br />
  The user can set the browser not to accept cookies. By disabling the cookies, there may be some rare cases where the web application
  features may not function properly.<br />
</p>

<p>
  12. How to contact us<br />
  If you have any questions about the GDPR Policy, the data that we have, or exclaim the data protection rights, please contact here:<br />

  Fuchiyuki Seki fxs031@student.bham.ac.uk<br />
  Akihiro Kitamura axk1192@student.bham.ac.uk<br />
  Benjamin Barton bsb117@student.bham.ac.uk<br />
  Charlie Hill cxh162@student.bham.ac.uk<br />
  Han Leow hxl220@student.bham.ac.uk<br />
  Omar Mostafa omm061@student.bham.ac.uk<br />
</p>
