<div>
  <h2 id="page-heading" data-cy="LikedSongHeading">
    <span jhiTranslate="teamprojectApp.likedSong.home.title">Liked Songs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.likedSong.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-liked-song"
        [routerLink]="['/liked-song/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.likedSong.home.createLabel"> Create a new Liked Song </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="likedSongs?.length === 0">
    <span jhiTranslate="teamprojectApp.likedSong.home.notFound">No Liked Songs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="likedSongs && likedSongs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.likedSong.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="chosen">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.likedSong.chosen">Chosen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let likedSong of likedSongs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/liked-song', likedSong.id, 'view']">{{ likedSong.id }}</a>
          </td>
          <td>{{ likedSong.chosen }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/liked-song', likedSong.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/liked-song', likedSong.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(likedSong)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
