.page-container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-column {
  background-color: #c7fdff;
  width: 33%;
  height: 80vh;
  margin-right: 5px;
}
#center-column {
  background-color: #c7fdff;
  width: 33%;
}
#right-column {
  background-color: #c7fdff;
  width: 33%;
  margin-left: 5px;
}
.row-1 {
  width: 100%;
  border-radius: 20px;
  position: relative;
  top: 10px;
}
.column-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 0.5px solid black;
  height: 80vh;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
}
#search-song {
  height: 500px;
}
#search-genre {
  height: 560px;
}
#done {
  height: 10%;
}
#done-button {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  height: 80%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  background: white;
  color: #ecf0f1;
  line-height: 1.618em;
}
.scroll-box {
  background-color: lightgrey;
  //border: 0.5px solid lightgrey;
  overflow-y: auto;
  position: relative;
  top: 10px;
}
.checkbox-container {
  border: 0.5px solid black;
  margin: 1px;
}
.song-list-item {
  position: relative;
  top: 0;
  left: 30px;
  float: left;
}
.select-song {
  position: relative;
  top: 0;
  left: 5px;
}
#song-ordered-list {
  position: relative;
  left: -32px;
  display: inline;
}
.song-data {
  position: relative;
  right: 0px;
}
.index {
  width: 2em;
}
div {
  color: black;
}
#playlist-container {
  max-height: 400px;
}

.big-btn {
  color: #fff;
  background-color: #7c25f8;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
  position: relative;
}

.big-btn:hover {
  background-color: #6207e3;
}

#page {
  border-radius: 20px;
}
.h2 {
  horiz-align: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
}
