<form>
  <div class="row" id="page">
    <div class="col-1" id="left-column"></div>
    <div class="col-2" id="center-column"></div>
    <div class="col-3" id="right-column">
      <div class="flex-container" id="search-artist-song">
        <p>Search for Artists and Songs</p>
        <div class="tabs">
          <div class="tab">
            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch" />
            <label for="tab-1" class="tab-label">Songs</label>
            <div class="tab-content">
              <input type="checkbox" class="song-radio" id="song-1" />
            </div>
          </div>
          <div class="tab">
            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" />
            <label for="tab-2" class="tab-label">Artists</label>
          </div>
        </div>
      </div>
      <div id="done">
        <input class="row-1" id="done-button" type="submit" content="Done" />
      </div>
    </div>
  </div>
</form>
