<form>
  <div class="row" id="page">
    <div class="col-1 flex-container-column" id="left-column">
      <div class="flex-container-column" id="search-genre">
        <h2>Top Genres</h2>
        <div class="scroll-box">
          <div *ngFor="let genre of outGenreArray; let i = index">
            <label class="flex-container-row">
              <input type="checkbox" class="select-song" />&nbsp;&nbsp;
              <div class="index">{{ i + 1 }}.</div>
              <div class="song-data">{{ genre.name }}</div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2" id="center-column"></div>
    <div class="col-3" id="right-column">
      <div class="flex-container-column" id="search-song">
        <h2>Top Songs</h2>
        <div class="scroll-box">
          <div *ngFor="let song of outSongArray; let i = index">
            <label class="flex-container-row">
              <input type="checkbox" class="select-song" />&nbsp;&nbsp;
              <div class="index">{{ i + 1 }}.</div>
              <div class="song-data">{{ song.name }} by {{ song.artist }}</div>
            </label>
          </div>
        </div>
      </div>
      <div id="done">
        <input class="row-1" id="done-button" type="submit" content="Done" />
      </div>
    </div>
  </div>
</form>
