.page-container {
  background-color: var(--background-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-column {
  background-color: var(--initial-training-background-color);
  width: 33%;
  height: 80vh;
  margin-right: 5px;
}
#center-column {
  background-color: var(--initial-training-background-color);
  width: 33%;
}
#right-column {
  background-color: var(--initial-training-background-color);
  width: 33%;
  margin-left: 5px;
}
.row-1 {
  width: 100%;
  border-radius: 20px;
  position: relative;
  top: 10px;
}
.column-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 0.5px solid black;
  height: 80vh;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
}
#search-song {
  height: 500px;
}
#search-genre {
  height: 560px;
}
#done {
  height: 10%;
}
#done-button {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  height: 80%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  background: var(--lightgreytoblack-color);
  color: #ecf0f1;
  line-height: 1.618em;
}
.scroll-box {
  background-color: lightgrey;
  //border: 0.5px solid lightgrey;
  overflow-y: auto;
  position: relative;
  top: 10px;
  height: 90%;
}
.checkbox-container {
  border: 0.5px solid black;
  margin: 1px;
}
.song-list-item {
  position: relative;
  top: 0;
  left: 30px;
  float: left;
  background-color: var(--background-color);
}
.select-item {
  position: relative;
  top: 0;
  left: 5px;
  opacity: 0;
}
#song-ordered-list {
  position: relative;
  left: -32px;
  display: inline;
}
.song-data {
  position: relative;
  right: 0px;
}
.index {
  width: 2em;
}
div {
  color: black;
}
#playlist-container {
  max-height: 400px;
}

.big-btn {
  color: #fff;
  background-color: #7c25f8;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
  position: relative;
}

.big-btn:hover {
  background-color: #6207e3;
}

#page {
  border-radius: 20px;
}
.h2 {
  horiz-align: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
}
.checkbox-item {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
  margin: 5px;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 8px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  bottom: -10px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
