.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.top-row {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.top-left,
.top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.title1 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
}

.title2 {
  position: relative;
  font-size: 20px;
}

.round-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  &:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }
}

.round-button.active {
  background-color: var(--text-color);
  color: var(--background-color);
}

.round-button.pressed {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
}

.top-middle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  flex-direction: column;
}

img {
  display: block;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  border-color: var(--border-color);
}

.bottom-row {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.bottom-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

h2 {
  margin-bottom: 10px;
  font-size: xx-large;
  background-color: var(--background-color);
}

h3 {
  font-size: large;
}

.play-button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}
