<link rel="stylesheet" type="text/css" href="main-page.component.scss" />
<div class="container">
  <div class="top-row">
    <div class="top-left">
      <button class="round-button like-dislike" id="like-button">Like</button>
    </div>
    <div class="top-middle">
      <img src="./../resources/public/music-cover.jpg" alt="Music Cover" />
      <!--this should be modified as a parameter, the music cover should be taken from Spotify-->
    </div>
    <div class="top-right">
      <button class="round-button like-dislike" id="dislike-button">Dislike</button>
    </div>
  </div>
  <div class="bottom-row">
    <div class="bottom-left"></div>
    <div class="bottom-middle">
      <h2>Song Name</h2>
      <button class="play-button">Play</button>
    </div>
    <div class="bottom-right"></div>
  </div>
</div>
