<div class="row">
  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome to Music Matcher!</span></h1>

    <p class="lead">A web app to help you discover new music</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as {{ account.login }}.</span>
      </div>

      <div *ngSwitchCase="true" id="tutorial-text">
        <p>Select playlists from the initial training page to help improve the recommendation algorithm</p>
        <p>This app is still in it's early stages of development, this means that only approved Spotify accounts will work</p>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Please </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span>, or </span>
        <a class="alert-link" routerLink="account/register">register a new account</a>
      </div>
    </div>
  </div>
</div>
